<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babel Bridge - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container content">
        <div class="main-text">
            <h1>Welcome to Babel Bridge</h1>
            <p>Your Words Train AI, Our Rewards Thank You.</p>
            <a href="/login" class="btn btn-primary">Get Started</a>
            <div class="motivational-message text-center mt-4">
                <p>Even if you're new to Southeast Asian languages, you can start your learning journey with us today. As you grow, your contributions can help enhance our mission and make a real impact. Let's explore these beautiful languages together!</p>
                <a href="/learn" class="btn btn-info">Start Learning</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>