<!-- leaderboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babel Bridge - Leaderboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Leaderboard</h2>
        <div class="list-group">
            {% for username, details in participants %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ username }}</span>
                <span>Score: {{ details['score'] }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if not username %}
    <div class="cta-section mt-5 d-flex justify-content-center">
        <div class="text-center alert alert-info" style="max-width: 600px;">
            <h3>Wanna Contribute to This Mission and Earn Rewards?</h3>
            <p>Join our growing community of language enthusiasts and help us enrich our AI while climbing the leaderboard. Your contributions not only enhance our database but also open up opportunities for rewards and recognition.</p>
            <a href="/login" class="btn btn-primary">Get Started</a>
        </div>
    </div>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
