<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='babelbridgeSEA-logo.png') }}" alt="Logo" style="height: 40px;">Babel Bridge
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/our-mission">Our Mission</a>
                <a class="nav-item nav-link" href="/learn">Learn SEA Languages</a>
                <a class="nav-item nav-link" href="/public_dataset">Public Database</a>
                <a class="nav-item nav-link" href="/leaderboard">Leaderboard</a>
                {% if username %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello, {{ username }} (Score: {{ score }})
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if role == 'contributor' %}
                        <a class="dropdown-item" href="/pending-approvals">Pending Approvals</a>
                        {% else %}
                        <a class="dropdown-item" href="/contribute">Contribute</a>
                        <a class="dropdown-item" href="/store">Redeem Rewards</a>
                        {% endif %}
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                {% else %}
                <a class="nav-item nav-link login-box" href="/login">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
